* {
  display: block;
}
body {
    background-color: antiquewhite;
    background-image: url(./pics/menu.jpg);
}
img {
    border-radius: 8px;
  }
  h1 {
    font-family: fantasy;
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px blue, 0 0 40px wheat, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue, 0 0 60px blue, 0 0 70px blue, 0 0 80px blue;
    }
     }
     .box-one { 
      border: #fff solid;
      width: 10%;
     }
     .links-list a {
      background-color: rgb(179 57 81);
      color: #fff;
      text-decoration: none;
      padding: 1em 2em;
    }
    
    .links-list a:hover {
      background-color: rgb(66 28 40);
      color: #fff;
    }